<!DOCTYPE html>
<html>
<head>
	<style>
	*{
	    margin:0;
	    padding:0;
	    box-sizing:border-box;
	    color: #777;
	    font-family: 'Poppins', sans-serif;
	}
	html{
	    font-size: 10px;
	    /*font-family: "Roboto", sans-serif;*/
	}
	body {
		text-align: center !important;
		overflow-x: hidden;
	}
	section{
	    padding: 5rem 0;
	    background-color: white;

	}
	section:before{
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 30%;
	  background: linear-gradient(60deg,#80CED7,#007EA7);
	  border-radius: 0 0 50% 50%/0 0 100% 100%;
	  transform: scaleX(1.5);
	}
	.heading{
	    text-transform: uppercase;
	    font-size: 5.5rem;
	    font-weight: 2000;
	    letter-spacing: 3px;
	    margin-right: 120px;
	    margin-bottom: 10px;
	    margin-top: -5px;
	    text-align: center;
	    color:#333;
	    position: relative;
			font-weight: 600;
			font-family: 'Poppins', sans-serif;
			width:100%;
	}
	.header img {
	  float: left;
	  width: 40%;
	  height: 150px;
	  object-fit: cover;
	  margin-top:-80px;
	  margin-left: -500px;
	}
	.tab{
		margin-top: 100px;
        margin-bottom: 8rem;
		border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
				font-size: 20px;
				color: black;
				border:2px solid black;
				padding: 40px;
				width:100%;
	}
	.abc a{
		text-decoration: none;
	  text-transform: uppercase;
	  padding: 12px 36px;
	  margin: 10px 0;
	  font-size: 18px;
	  letter-spacing: 2px;
	  color: white;
	  background: black;
		width:20%;
	}

	</style>

	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../views/css/main.css">
</head>
<body>
	<section>
	<div class="col-md-4 col-md-offset-4">
		<div class="header">
			<img src="logo.png" alt="logo" >
			</div>
		<div>
			<h1 class="heading">APPOINTMENT DETAILS</h1>
		</div>
		<div>
			<center>
				<% patients.forEach(function(patient) { %>
					<table class="tab">
						<tr><td> Patient's Name </td><td><%= patient.name %></td></tr>
						<tr><td>Email </td><td><%= patient.email %></td></tr>
						<tr><td>Phone Number </td><td><%= patient.phone %></td></tr>
						<tr><td>Doctor's Name </td><td><%= patient.doctor %></td></tr>
					</table>
				<% }); %>	
			</center>
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
		</div>
	</div>
</section>
</body>
</html>
