<!DOCTYPE html>
<html>

<head>
    <title>Admin Login</title>
    <style>
  	*{
  	    margin:0;
  	    padding:0;
  	    box-sizing:border-box;
  	    color: #777;
  	    font-family: 'Poppins', sans-serif;
  	}
  	html{
  	    font-size: 10px;
  	    /*font-family: "Roboto", sans-serif;*/
  	}
  	body {
  		text-align: center !important;
      overflow-x: hidden;
  	}
  	section{
  	    padding: 5rem 0;
  	    background-color: white;

  	}
  	section:before{
  	  content: '';
  	  position: absolute;
  	  top: 0;
  	  left: 0;
  	  width: 100%;
  	  height: 30%;
  	  background: linear-gradient(60deg,#80CED7,#007EA7);
  	  border-radius: 0 0 50% 50%/0 0 100% 100%;
  	  transform: scaleX(1.5);
  	}
  	.heading{
  	    text-transform: uppercase;
  	    font-size: 5.5rem;
  	    font-weight: 2000;
  	    letter-spacing: 3px;
  	    margin-right: 120px;
  	    margin-bottom: 10px;
  	    margin-top: -5px;
  	    text-align: center;
  	    color:#333;
  	    position: absolute;
  			font-weight: 600;
  			font-family: 'Poppins', sans-serif;
  			width:100%;

  	}
    .header img {
  	  float: left;
  	  object-fit: cover;
      max-width: 70px;
      height:auto;
      position: absolute;
      top:-250px;
      left:40px;
  	}
    .form-group form{
      padding: 50px;
      background-color: white;
      border-style: solid;
      border: 2px solid #000000;
      box-sizing: border-box;
      position: absolute;
      width:50%;
      height:40%;
      font-size: 20px;
      top:280px;
      margin-left: 25%;

    }
    .form-group input[type=email],.form-group input[type=password] {
      width: 100%;
      padding: 3px;
      margin: 5px 0 20px 0;
      border: none;
      background: #f1f1f1;
      color: black;
      font-size: 20px;
    }
    .form-group input[type=email]:focus,.form-group input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    .btn{
      text-decoration: none;
  	  text-transform: uppercase;
  	  padding: 12px 36px;
  	  margin: 10px 0;
  	  font-size: 18px;
  	  letter-spacing: 2px;
  	  color: white;
  	  background: black;
  		width:20%;
    }

    </style>
</head>

<body>
  <section>
  <div class="col-md-4 col-md-offset-4">
    <div class="header">
      <img src="logo.png" alt="logo" >
      </div>
    <div>
      <h1 class="heading">ADMIN-LOGIN DETAILS</h1>
    </div>
    <div>
        <div class="form-group">
            <form id="form" action="/adminLogin" method="post">
                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
        </div>
      </section>
</body>

</html>
