*{
    margin: 0;
    padding: 0;
    font-family: sans-serif  ;
    
}

.header .logo {
    float: left;
    width: 18%;
    height: 120px;
    position:absolute;
    object-fit: cover;
    top:-5px;
    left:10px;
    overflow: hidden;
  }

.back{
    height: 100%;
    width: 100%;
    background-image:  url('back.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width:380px;
    height: 480px;
    position: relative;
    margin:6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow:0 0 8px 2px33ccff;
    border-radius: 30px;
    text-align: center;
    
}
.toggle-button{
    padding: 10px 30px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:#33ccff; 
    border-radius:30px ;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    content:cursor;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px ;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:#33ccff;
    border: 0;
    outline: none;
    border-radius: 30px;

}

.submit-btn:hover{
    background:#b3ecff  ;
}
#sp{
    margin: 0px 10px 20px 0;

}
#rp,#tc{
    margin: 20px 10px 10px 0;
}

label,span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    

}
#login{
    left: 50px;
}

#register{
    left: 450px;
}

.return
{
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 36px;
  margin: 10px 0;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  border-radius: 40px;
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  left:1200px;
  overflow: hidden;
  
}
.return:hover{
    background-color: #777;
}