@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: montserrat;
  height: 100%;
}

/* logo */
.image {
  width: 150px;
  margin-top: -80px;
  /*float: left;*/
  margin-left: 10px;


}

/* navbar */
nav {
  background: #40E0D0;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #1a1a1a;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 928px) {
  label.logo {
    font-size: 35px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: 105vh;
    background: #1a1a1a;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover, a.active {
    background: none;
    color: #40E0D0;
  }

  #check:checked~ul {
    left: 0;
  }
}

.but {
  background-color: #1a1a1a;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

button {
  transition-duration: 0.4s;
}

.but:hover {
  background-color: #1a1a1a;
  color: white;
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

/* search bar */
.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
}

.sb-example-1 .searchTerm {
  width: 100%;
  border: 3px solid #1a1a1a;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.sb-example-1 .searchTerm:focus {
  color: #4a4a4a;
}

.sb-example-1 .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #1a1a1a;
  background: #1a1a1a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* search button */
.button {
  border: none;
  color: white;
  top: 50%;
  padding: 1% 11%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



/* functional buttons */
/*.button1 {
  background-color: #4CAF50;
  width: 33%;
  font-size: .7rem;
  float: left;
}*/
.button1 {
  background: #B19CD9;
  /* background-image: -webkit-linear-gradient(top, #40E0D0), #1a1a1a);
  background-image: -moz-linear-gradient(top, #40E0D0),#1a1a1a);
  background-image: -ms-linear-gradient(top, #40E0D0), #1a1a1a);
  background-image: -o-linear-gradient(top, #40E0D0), #1a1a1a);
  background-image: linear-gradient(to bottom, #40E0D0, #1a1a1a); */
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 50px 15px 50px;
  border: solid #34c7ae 2px;
  text-decoration: none;
}

.button1:hover {
  background: : #1a1a1a;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*.button2 {
  background-color: #008CBA;
  width: 34%;
  font-size: .7rem;
  float: left;
}*/
.button2 {
  background: #d9343c;
  background-image: -webkit-linear-gradient(top, #d9343c, #000000);
  background-image: -moz-linear-gradient(top, #d9343c, #000000);
  background-image: -ms-linear-gradient(top, #d9343c, #000000);
  background-image: -o-linear-gradient(top, #d9343c, #000000);
  background-image: linear-gradient(to bottom, #d9343c, #000000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 13px 50px 13px 50px;
  border: solid #34c7ae 2px;
  text-decoration: none;
}

.button2:hover {
  background: #fc3c7c;
  background-image: -webkit-linear-gradient(top, #fc3c7c, #d9343c);
  background-image: -moz-linear-gradient(top, #fc3c7c, #d9343c);
  background-image: -ms-linear-gradient(top, #fc3c7c, #d9343c);
  background-image: -o-linear-gradient(top, #fc3c7c, #d9343c);
  background-image: linear-gradient(to bottom, #fc3c7c, #d9343c);
  margin left:50px;
  text-decoration: none;
}



.container {
  height: 200px;
  position: relative;
  margin-bottom: 100px;
  max-width: 100%
  margin-left: 125px;
}

/*.button3 {
  background-color: #f9813a;
  width: 32%;
  font-size: .7rem;
  float: left;
}*/
.button3 {
  background: #e01264;
  background-image: -webkit-linear-gradient(top, #e01264, #37c7af);
  background-image: -moz-linear-gradient(top, #e01264, #37c7af);
  background-image: -ms-linear-gradient(top, #e01264, #37c7af);
  background-image: -o-linear-gradient(top, #e01264, #37c7af);
  background-image: linear-gradient(to bottom, #e01264, #37c7af);
  -webkit-border-radius: 27;
  -moz-border-radius: 27;
  border-radius: 27px;
  color: #ffffff;
  font-size: 20px;
  padding: 17px 45px 13px 45px;
  text-decoration: none;

}

.button3:hover {
  background: #fa3c91;
  background-image: -webkit-linear-gradient(top, #fa3c91, #d9343c);
  background-image: -moz-linear-gradient(top, #fa3c91, #d9343c);
  background-image: -ms-linear-gradient(top, #fa3c91, #d9343c);
  background-image: -o-linear-gradient(top, #fa3c91, #d9343c);
  background-image: linear-gradient(to bottom, #fa3c91, #d9343c);
  text-decoration: none;
}
.altmsg{
  margin-top: 150px;
  position: absolute;
  z-index: 10;
  text-align: left;
}
.alert {
  border: solid 2px;
  padding: 20px;
  background-color: white;
  color: #f44336;
  font-size: 1.2rem;
  width: 40%;
  height: 350px;
  left :30%;
  text-align: justify;
  position: relative;
  margin-top: 40px;
}

.corona{
  width: 175px;
  float: right;
  margin-top: 25px;
}
.virus{
  width: 30%;
  height: 30%;
}

.closebtn {
  margin-left: 15px;
  color: #f44336;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* slideshow */
* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  margin-top: 0px;
  position: relative;
/*  margin: auto;*/
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 150px;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* footer */
/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/


.textarea{
  position: relative;

}

*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

footer{
  position: scrollbar;
  bottom: 0px;

  width: 100%;

  background: black;
}
.main-content{
  display: flex;
}

.main-content .box{
  flex-basis: 100%;
  padding: 5px 10px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{

  font-size: 17px;
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}

.bottom center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
/* ......*/
.h .content a:hover{
  background-color: #f12020;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/* cards */

.cards {
  width: 100%;
  position: absolute;
  height: 197px;
  margin-top: -195px;
  color: #fff;
  font-size: .75rem;
  text-align: center;
  background-color: #40E0D0;
  margin-bottom: 0;
}

.enquire {
  position: relative;
  float: left;
  background-color: #40E0D0;
  width: 25%;
  height: 120px;
  margin-top: 30px;
  margin-left: 10px;
  padding-top: 10px;
}

.sub {
  position: relative;
  float: left;
  background-color: #40E0D0;
  width: 25%;
  height: 120px;
  margin-left: 13%;
  margin-top: 30px;
  font-size: 0.7rem;
  padding-top: 10px;
}

.emergency {
  position: absolute;
  float: left;
  background-color: #40E0D0;
  width: 25%;
  height: 120px;
  margin-left: 74.25%;
  margin-top: 30px;
  padding-top: 10px;
}

.one {
  color: #fff;
  font-size: 1rem;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  border: 4px solid #1a1a1a !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  background-color: #1a1a1a;
}

.one:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #40E0D0 !important;
  transition: all 0.3s ease 0s;
}

.submit-button {
  color: #fff;
  font-size: 0.8rem;
  height: 30px;
  width: 120px;
  border: 4px solid #1a1a1a !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  background-color: #1a1a1a;
}

.submit-button:hover {
  color: #494949 !important;
  border-radius: 25px;
  border-color: #40E0D0 !important;
  transition: all 0.5s ease 0s;
}
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  margin-left: 2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.8rem;
  margin-top: 10px;
  padding : 0.3rem 0.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin: 10px auto;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.facebook:hover{
    background: #fa3c91;
}

.phonec {
  color: #1a1a1a;
}

.quote{
  color: #696969;
  text-align: center;
  margin-bottom: 65px;
  margin-top: -50px;
}
.content a:hover{
  display: inline-block;
  background-color: #f12020
}
.content a:active{
  display: inline-block;
}
